.header{
    background: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.header img{
    width: 100%;
    max-width: 126px;
    display: block;
}