.todoContentWrapper {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 12px;

    width: 100%;
    height: 72px;
    margin-bottom: 1.2rem;

    background: var(--gray-500);

    border: 1px solid var(--gray-400);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.todoContentWrapper input[type="checkbox"] {
    width: 0;
    margin-right: 2.0rem;
    position: relative;
}

.todoContentWrapper input[type="checkbox"]::after {
    content: "";
    position: absolute;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 1px solid var(--blue-300);
    outline: none;
    font-size: var(--font-14);
    font-weight: 700;
    color: var(--gray-200);
    background: transparent;
    cursor: pointer;
}

.todoContentWrapper input[type="checkbox"]:hover::after {
    border: 1px solid var(--blue-500);
    background: var(--blue-opacity-20);
}

.todoContentWrapper input[type="checkbox"]:checked::after {
    content: "✓";
    background: var(--purple-500);
    border: 1px solid var(--purple-500);
    text-align: center;
}

.todoContentWrapper input[type="checkbox"]:checked:hover::after {
    background: var(--purple-300);
    border: 1px solid var(--purple-300);
}

.todoContentWrapper label {
    font-size: var(--font-14);
    color: var(--gray-100);
    cursor: pointer;
}

.todoContentWrapper svg{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

.todoContentWrapper svg:hover{
    background: var(--gray-400);
}

.todoContentWrapper svg:hover path{
    fill: var(--red-300);
}