:root{
    --gray-100: #f2f2f2;
    --gray-200: #d9d9d9;
    --gray-300: #808080;
    --gray-400: #333;
    --gray-500: #262626;
    --gray-600: #1a1a1a;
    --gray-700: #0d0d0d;

    --blue-opacity-20: hsla(202, 69%, 37%, 0.1);
    --blue-300: #4ea8de;
    --blue-500: #1E6F9F;

    --purple-300: #8284fa;
    --purple-500: #5e60ce;

    --red-300: #e25858;
    --red-400: #c53030;

    --font-12: 1.2rem;
    --font-14: 1.4rem;
    --font-16: 1.6rem;
    --line-height-1: 140%;

    --border-radius: 0.8rem;

    font-size: 62.5%
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--gray-600);
    font-family: 'Inter', sans-serif;
}